body{
    background-color:#971d91;
}
.top{
    margin-top: 50px;
    padding-right: 180px;
    font-size: 30px;
    text-align: center;
}
form{ 

position: relative;
  left: 150px;
  top: 50px;


}
.left{
    
position: relative;
  left: 50px;
  top: 150px;
    float: left;
   
}
.imgItem{
    
    left: 510px;
    top: 20px;
}

#burger-image{
    height: 80px;
    width: 90px;
    margin:auto;

}

.footer{
    height: 50px;
    
position: relative;
  left: 600px;
  top: 100px;
}
#submitBtn{
    margin-left:270px;
    margin-top: 15px;
    
    
}
.burgerToEat{
    float: left;
    height: 55px;
    width: 150px;
    margin: 10px;
   background-color:#ff9933;
    border-style: solid;
  border-width: 3px;
}
#imgburger{
    float: left;
    height: float: left;50px;
    width: 50px;
    float:left;
    margin-right: 10px;
}
.btn{
     background-color:#b5bec4;
     margin-top: 20px;
}
.burger_container{
    height: 60px;
}

#eat_burger{
    font-size: 25px;
    text-align: center;
}